{% extends "base.html" %}

{% block head %}
<title>登录</title>
{% endblock %}

{% block body %}
<h1>用户登录</h1>
{% if form.errors %}
<p class="error">对不起，用户名或密码有误。</p>
{% endif %}
<form action="" method="post">{% csrf_token %}
    <label for="username">用户名:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">密码:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="登录" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
</form>

{% endblock %}
