<!DOCTYPE html>
<html>
    <head>
        {% block head %}{% endblock %}
    </head>
    <body>
    {% if logout %}当前用户：{{ user }}&nbsp;&nbsp;&nbsp;{% endif %}
    {% if login %}<a href="/accounts/login/">用户登录</a>  {% endif %}
    {% if not logout %}<a href="/accounts/register/">用户注册</a>  {% endif %}
    {% if logout %}<a href="/accounts/logout/">退出登录</a>  {% endif %}
    {% if add %}<a href="/add/">添加信息</a> {% endif %}
    {% if search %}<a href="/search/">检索信息</a> {% endif %}
    <br/>
    <br/>
        {% block body %}
        {% endblock %}
    </body>
</html>
