{% extends "base.html" %}

{% block head %}
<title>检索信息</title>
{% endblock %}

{% block body %}
<table border="0">
    <tr><td>
            {% if op %} 请检索要{{ op }}的信息: {% endif %}
            <form name="input" action="/view/" method="post">{% csrf_token %}
                <input type="checkbox" name="StudentIDEnable" />搜索 学号<input type="text" name="StudentID" maxlength="15" /> <input type="checkbox" name="StudentIDPart" checked/>部分匹配<br/>
                <input type="checkbox" name="NameEnable" />搜索 姓名<input type="text" name="Name" maxlength="15" /> <input type="checkbox" name="NamePart" checked/>部分匹配<br/>
                <input type="checkbox" name="PhoneNumberEnable" />搜索 电话<input type="text" name="PhoneNumber" maxlength="15" /> <input type="checkbox" name="PhoneNumberPart" checked/>部分匹配<br/>
                <input type="checkbox" name="EmailEnable" />搜索 E-mail<input type="text" name="Email" maxlength="15" /> <input type="checkbox" name="EmailPart" checked/>部分匹配<br/>
                <input type="checkbox" name="AddressEnable" />搜索 地址<input type="text" name="Address" maxlength="15" /> <input type="checkbox" name="AddressPart" checked/>部分匹配<br/>
                <input type="checkbox" name="BirthdayEnable" />搜索 生日<input type="text" name="Birthday" maxlength="15" /> <input type="checkbox" name="BirthdayPart" checked/>部分匹配<br/>
                <center><input type="button" value="显示全部" onclick="javascript:location.href='/view/?all=1'" /> <input type="submit" value="搜索" /></center>
            </form>
    </td></tr>
</table>
{% endblock %}
